<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Bienvenido a la rama master.
    <p>Estamos en la rama master.</p>
  </div>
</ion-content>
